body

{

}

.form-log-in

{

	max-width: 330px;
	margin: 0 auto;

}

.divider

{

	margin:15px;

}

a#forgot-pass

{

	margin-top: 15px;
	float: right;
	text-decoration: none;

}

#log-in-container

{

	margin-top: 15%;

}

.add-account

{

	max-width: 70%;
	margin: 0 auto;

}

.form-control

{

	width: 185px;
	/*margin: 0 auto;*/

}

.table-head

{

	text-align: right;

}

#ad-first

{

	width: 90px;
	height: 720px;
	background-color: #aaaaaa;
	float: right;

}

div.btn-group > input.btn

{

	width: 95px;

}

div#dataTable_filter.dataTables_filter

{

	float: right;

}

.img-display

{

	margin:0 auto; 
	display:block;
	max-width: 50px;

}

.user-info

{

	text-align: right;

}

#td-image

{

	width: 5%;

}

.td-users

{

	border-right: none !important;
	border-left: none !important;

}

.tr-users

{

	border-right: none !important;
	border-left: none !important;

}

#tr-head

{

	display: none;

}

span.user-info > p

{

	float: left;

}

.preview

{

	float:left;
	width:200px;
	position:relative;
	padding:5px;

}

#DataTables_Table_0_filter 

{

	text-align: right;
	float: right;

}

#DataTables_Table_0_paginate 

{

	text-align: right;
	float: right;

}

.btn-primary

{

	background-color: #7e0e09;
	border-color: #7e0e09;

}

.display-none 

{

	display: none;

}

.blink_me 

{

	animation: blinker 1s linear infinite;

}

@keyframes blinker 

{  

	50% { opacity: 0.0; }

}

input#rfid

{

	border: 0;
	color: transparent;
	background: transparent;
	border: none;
	box-shadow: none;

}

input#rfid:focus

{

	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;

}

/* remove autofill color */
input#rfid:-webkit-autofill 

{

	-webkit-text-fill-color: transparent;
	-webkit-box-shadow: 0 0 0 1000px transparent inset;

}

.th-rfid-scanned

{

	width: 10%;

}